ML/.ipynb_checkpoints
ML/prac1/.ipynb_checkpoints/
ML/prac2/.ipynb_checkpoints/
ML/prac3/.ipynb_checkpoints/
ML/prac4/.ipynb_checkpoints/
ML/prac5/.ipynb_checkpoints/
ML/prac6/.ipynb_checkpoints/
ML/prac7/.ipynb_checkpoints/
ML/prac8/.ipynb_checkpoints/
ML/prac9/.ipynb_checkpoints/
ML/prac10/.ipynb_checkpoints/
OST\prac5\potfolio\potfolio\__pycache__
OST\prac5\potfolio\home\__pycache__